body{
    background-image: url(bg_3.png);
    text-align: center;
}
#Wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
p {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.SternA{
    position: absolute;
    top: 60%;
    left: 20%;
}
.SternB{
    position: absolute;
    top: 55%;
    left: 42%;
}
.SternC{
    position: absolute;
    top: 70%;
    left: 80%;
}
.SternD{
    position: absolute;
    top: 40%;
    left: 60%;
}
.SternA:hover{
    background-image: url(stern_hover_3.png);
}
.SternB:hover{
    background-image: url(stern_hover_3.png);
}
.SternC:hover{
    background-image: url(stern_hover_3.png);
}
.SternD:hover{
    background-image: url(stern_hover_3.png);
}