body{
    background-image: url(bg_7.png);
    text-align: center;
}

#Wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.Busch {
    position: absolute;
    top: -20%;
    z-index: 3;
    left: -10%;
}


.SternEins {
    position: absolute;
    top: 10%;
    z-index: 3;
    left: 20%; 
}

.SternZwei {
    position: absolute;
    top: 20%;
    z-index: 3;
    left: 42%; 
}

.SternDrei {
    position: absolute;
    top: 67%;
    z-index: 3;
    left: 7%; 
}

.fire{
    position: absolute;
    top: 7%;
    left: 54%;
    z-index: 3;
}

.Gift {
    position: absolute;
    top: 70%;
    left: 58%;
    z-index: 4;
}

p {
    color: white;
    position: absolute;
    top: 45%;
    left: 5%;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    line-height: 2em;
}
h1 {
    position: absolute;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color: white;
    top: 25%;
    left: 5%;
}