body {
    background-image: url(bg.png);
    text-align: center;
}

#Wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Textbox {
    position: absolute;
    left: 5%;
    top: 30%;
    display: inline-block;
    width: 30%;
    height: 5%;
    margin: 2px;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px;
    color: black;
    border: 1px white;
    background-color:white;
    cursor: pointer;
}

.Textboxx {
    position: absolute;
    left: 5%;
    top: 48%;
    display: inline-block;
    width: 50%;
    height: 15%;
    margin: 2px;
    padding: 5px;
    font-size: 12px;
    border-radius: 15px;
    color: black;
    border: 1px white;
    background-color:white;
    cursor: pointer;
}

.Button {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    left: 5%;
    top: 83%;
    border-radius: 15px;
        width: 100px;
        height: 20px;
        margin: 2px;
        padding: 5px;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        border: 1px goldenrod;
        background-color:goldenrod;
        cursor: pointer;
    }

h1 {
    position: absolute;
    left: 5%;
    top: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 2em;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15px;
}
.DeinName {
    position: absolute;
    left: 5%;
    top: 22%;
}

.Nachricht {
    position: absolute;
    left: 5%;
    top: 40%;
}

.Geschenk {
    position: absolute;
    left: 5%;
    top: 65%;
}
.radioYes {
    position: absolute;
    left: 8%;
    top: 75%;
    color: white;
    height: 5%;
}
.radioNo {
    position: absolute;
    left: 25%;
    top: 75%;
    color: white;
    height: 5%;
}

.Yes{
    position: absolute;
    left: 13%;
    top: 72%;
}

.No {
    position: absolute;
    left: 30%;
    top: 72%;
}

input ::before {
color: white;
background-color: white;
}
.radioNo:after {
    content: "";
    position: absolute;
    display: none;
  }

.radioYes:after {
    content: "";
    position: absolute;
    display: none;
  }