body{
    background-image: url(bg_8.png);
    text-align: center;
}

#Wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

iframe {
    position: absolute;
    top: 10%;
    left: 4%;
    z-index: 2
}

.Schleife {
    position: absolute;
    top: 68%;
    left: 61%;
    z-index: 3
}