body {
    background-color: rgb(18, 18, 173);
    text-align: center;
  }
  p {
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      z-index: 2;
  }
  
  img {
    z-index: 1;
  }
  
  .Test{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
  }
  
  .Question {
    position: absolute;
    top: 25%;
    left: -10px;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .Frage1 {
    position: absolute;
    top: 29%;
    left: 20%;
  }
  
  .Frage2 {
    position: absolute;
    top: 26%;
    left: 18%;
  }
  
  .Antwort1 {
      position: absolute;
      top: 50%;
      left: -10px;
      max-width: 100%;
      margin: 0px;
      padding: 0px;
  }
  
  .Answer1 {
    position: absolute;
    top: 49%;
    left: 35%;
  }
  
  #AAntwort1 {
    position: absolute;
    top: 51%;
    left: -5px;
  }
  .Antwort1:hover{
    opacity: 0;
  }
  
  
  .Antwort2 {
    position: absolute;
    top: 60%;
    left: -15px;
    max-width: 100%;
    margin: 10px;
    padding: 0;
  }
  
  .Answer2 {
    position: absolute;
    top: 61%;
    left: 35%;
  }
  
  #AAntwort2 {
    position: absolute;
    top: 63%;
    left: -1px;
  }
  .Antwort2:hover{
    opacity: 0;
  }
  
  #AAntwort3 {
    position: absolute;
    top: 73%;
    left: -1px;
  }
  .Antwort3:hover{
    opacity: 0;
  }
  
  #AAntwort4 {
    position: absolute;
    top: 83%;
    left: -1px;
  }
  .Antwort4:hover{
    opacity: 0;
  }
  
  .Antwort3 {
    position: absolute;
    top: 70%;
    left: -15px;
    max-width: 100%;
    margin: 10px;
    padding: 0;
  }
  
  .Answer3 {
    position: absolute;
    top: 71%;
    left: 35%;
  }
  
  .Antwort4 {
    position: absolute;
    top: 80%;
    left: -15px;
    max-width: 100%;
    margin: 10px;
    padding: 0;
  }
  
  .Answer4 {
    position: absolute;
    top: 81%;
    left: 35%;
  }
  
  .Bild {
    max-width: 120%;
  }
  
  .Joker {
    position: absolute;
    top: 0;
    left: 25%;
  }
  
  .TelefonJoker {
  position: absolute;
  top: 0%;
  left: 2%;
  }
  
  .Hinweis{
    color: white;
    position: absolute;
    top: 60%;
    left: 5%;
  }
  
  .mobileShow { display: none;}
    @media only screen
      and (min-device-width : 1024px) {
        .mobileShow {display: inline;}
    }